*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  scroll-behavior: smooth;
  min-height: 100vh;
  padding: 4rem 7.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 640px) {
  body {
    padding: 2rem 2.4rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.label {
  font-family: "Inconsolata", monospace;
  position: absolute;
  top: 4rem;
  left: 7.7rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.5rem;
}

@media screen and (max-width: 640px) {
  .label {
    top: 2rem;
    left: 2.4rem;
  }
}

.main {
  font-family: "Space Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 640px) {
  .main {
    display: initial;
    margin-bottom: 155px;
  }
}

.main .left {
  max-width: 50%;
  position: relative;
}

.main .left img {
  width: 539.22px;
  height: 414.25px;
}

@media screen and (max-width: 640px) {
  .main .left img {
    width: 286.83px;
    height: 220.35px;
  }
}

@media screen and (max-width: 640px) {
  .main .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin-top: 109px;
  }
}

.main .right {
  width: 50%;
}

.main .right .heading {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 9.478rem;
  letter-spacing: -1px;
}

@media screen and (max-width: 640px) {
  .main .right .heading {
    width: 100%;
    font-size: 48px;
    line-height: 71.09px;
    width: 350px;
    height: 142px;
  }
}

.main .right .content {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.554rem;
  width: 38.1rem;
  height: 10.8rem;
  letter-spacing: -1px;
}

@media screen and (max-width: 640px) {
  .main .right .content {
    width: 100%;
    width: 328px;
    height: 81px;
    font-size: 18px;
    line-height: 26.66px;
  }
}

.main .right .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 20.73px;
  color: #ffffff;
  width: 216px;
  height: 68px;
  padding: 2.4rem 4.3rem;
  background-color: #333333;
  margin-top: 64px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.main .right .button:hover {
  opacity: 90%;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media screen and (max-width: 640px) {
  .main .right .button {
    font-size: 14px;
    line-height: 20.73px;
    width: 216px;
    height: 68px;
  }
}

.footer {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 3.9rem;
  left: 50%;
  font-weight: 600;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=styles.css.map */